[submodule "src/submodules/opslevel-go"]
	path = src/submodules/opslevel-go
	url = git@github.com:OpsLevel/opslevel-go.git
[submodule "src/submodules/opslevel-common"]
	path = src/submodules/opslevel-common
	url = https://github.com/OpsLevel/opslevel-common.git
